node_modules
coverage
.nyc_output
.DS_Store
*.log
.vscode
.idea
dist
compiled
.awcache
.rpt2_cache
docs


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
!src/__tests__/__stubs__/.env

/index.js
/index.d.ts
